<div class="w-screen h-screen bg-gray-50 sm:bg-gray-50 relative">
  <div class="absolute w-full h-full hidden sm:block">
    <img
      class="absolute w-60 lg:w-96 left-0 bottom-0"
      src="/assets/svg/login-bg-left.svg"
      alt="bg left"
    />
    <img
      class="absolute w-60 lg:w-96 right-0 bottom-0"
      src="/assets/svg/login-bg-rigth.svg"
      alt="bg right"
    />
  </div>
  <div class="relative w-full sm:w-7 md:w-4/12 lg:w-4/12 m-auto divide-y-2">
    <header class="pt-8 pb-6 flex justify-center">
      <img
        class="w-52"
        src="/assets/logos/logo-gradient-blue-trello.svg"
        alt="logo"
      />
    </header>
    <div class="bg-white rounded shadow-none sm:shadow-lg md:px-10 py-4 px-6 my-8 divide-y-2">
      <div class="mb-8">
        <h1 class="text-center font-semibold pt-4 pb-8">Log In to Trello</h1>
        <form novalidate class="space-y-4">
          <div class="relative">
            <input
              placeholder="Enter email"
              type="email"
              class="w-full rounded bg-gray-100 border-2 border-gray-300"
            />
          </div>
          <div class="relative">
            <input
              placeholder="Enter password"
              type="password"
              class="w-full rounded bg-gray-100 border-2 border-gray-300"
            />
          </div>
          <div>
            <app-btn [typeBtn]="'submit'" [color]="'success'">Log In</app-btn>
          </div>
        </form>
      </div>
      <div>
        <div class="text-center text-sm pt-4 pb-4 text-blue-600">
          <a href="/forgot-password"> Can't log in? </a>
        </div>
        <div class="text-center text-sm pt-2 pb-4 text-blue-600">
          <a href="/register"> Sign up for an account </a>
        </div>
      </div>
    </div>
    <footer class="">
      <div class="relative w-4/12 m-auto">
        <div class="pt-8 pb-6 flex justify-center">
          <img
            src="/assets/logos/horizontal-logo-gradient-blue-atlassian.svg"
            alt="logo"
          />
        </div>
      </div>
    </footer>
  </div>
</div>
